<link rel="stylesheet" type="text/css" href="echo.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'
	<body>
		<div id="abtheader">Echo</div>		
		
		<img  id= "container"style="float:left" src="pic1.jpg">
		
		<div id= "container" style="float:right;border: 2px 0E8B9C dotted;height:333px;width:500px; opacity:.2;">
		
		<h1>About</h1>
		<p>Add the text HERE
</p>		</div>
		<div id="footer"><a href="echo.html">Proceed to App</a></div>


	</body>

