		<div id="header">Echo</div>		
		<div id="ins"><h1>An app to make you speak proper</h1>
		
		Wait till the text appears then press stop.<br><br> 
		After that you can listen to your recording through the player below.<br><br>
		 <br><br>
		</div>
		<div style="clear:right;">
		<div id="word">Your word is:<p style="font-size:40px;"><%= @word.name %></p></div>
		<p style="font-size:25px;">Listen to correct Pronunciation:</p>
		<audio id ="original" controls >
		<source src="<%= @word_file_path %>" type="audio/wav">
		</audio>
		</div>
		<br><br><br>
		<input id="button1" onclick="startRecording()" type="button" value="start recording" />
		<input id= "button2" onclick="stopRecording()" type="button" value="stop recording" />
		<br>
		<div id="status">
		
		</div>
		<audio id="recorder" controls ></audio>
		

		  <span id="interim_span" style="color:gray"></span>
  		<span id="input_field" style="color:black"></span>
		
		<script>
			var onFail = function(e) {
				console.log('Rejected!', e);
			};

			var onSuccess = function(s) {
				var context = new webkitAudioContext();
				var mediaStreamSource = context.createMediaStreamSource(s);
				recorder = new Recorder(mediaStreamSource);
				recorder.record();

				// audio loopback
				// mediaStreamSource.connect(context.destination);
			}

			window.URL = window.URL || window.webkitURL;
			navigator.getUserMedia  = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

			var recorder;
			var audio = document.querySelector('audio');
			var reco = new WebSpeechRecognition();


			function startRecording() {
				if (navigator.getUserMedia) {
					navigator.getUserMedia({audio: true}, onSuccess, onFail);
				} else {
					console.log('navigator.getUserMedia not present');
				}
			reco.statusText('status');
			 reco.start();
			reco.interimResults('interim_span');
			reco.finalResults('input_field');
			reco.continuous = true;
			}

			function stopRecording() {
				reco.stop()||recorder.stop();
				recorder.exportWAV(function(s) {
				var url= window.URL.createObjectURL(s);
				audio.src= url;
    				});
			}

		</script>
<div id="footer"></div>