body{font-family: 'Varela Round', sans-serif; font-size:15px; 
background-color:#0E8B9C; 
color:#D9CED0;
text-align:center;
}
#header{ background-color:black; 
font-size:50px; 
text-align:left;
 margin-left:4%; 
width:87%;
padding:.5% 3%;
 margin-top:1%;  }
#button1{
 padding: 3px 4px;
border-radius:4px; 
font-size:20px; 
margin-top:4%;
margin-right:40px;
margin-left:2%;
margin-bottom:1%;
}
#button2{ padding: 3px 4px;
color:red; 
border-radius:4px; 
font-size:20px; 
}  input[type="button"]:hover{color:#0E8B9C; 
cursor:pointer; 
height: 35px; 
width:143px; 
border-radius:5px;}

#status{
background-color:#D9CED0;
color:black;}

#input_field{}
#ins{}
#word{ background-color:white;
 height:150px; 
 border-radius:10px; float:left;
 
 border:4px dotted #0E8B9C;
width:30%;
 color:black;
margin-left:15%;
 font-size:30px;
 text-align:center;
 }
#recorder{ 
margin-top:1%;
margin-bottom:1%;
margin-left:1%;
width:30%;
height:5%;
background-color:black;

}

#original
{ margin:1% -1% 1%;
background-color:black;

}
#container {
background-color:black;
opacity:.8;
color:white;
border-radius:4px;

-webkit-transition: all .5s ease;

margin:4% 6% 0% 6%;}
#container:hover{opacity:1;}
a:link {text-decoration:none;}
a:visited {color:white;}
#footer:hover {
background:#0E8B9C;  padding:0px; border-radius:100px;}
#footer{
box-shadow:2px white;
border-radius:7px;
padding:10px;
margin:5% 10%;
clear:both;
float:right;
background-color:black;
color:white;
display:block;
font-size:30px;
-webkit-transition: all 1s ease;
transition: all 1s;
cursor:pointer;
}
#container h1 p{  color:white;font-weight:bold;}
